label{
   padding-left: 10px;
}
.form-group input{
    border-radius: 15px;
    height: 50px;
}
button{
    margin-left: 20px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    width: 200px;
    height: 45px;
    display: inline-block;
    background-color: #FFBE0F;
    color: #000000;
}
 
button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    background-color: #BD2000;
    border: none;
}
button:active{
    border: none;
}
.cancel button{
    color: white;
    background-color: #BD2000;
}
.cancel button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #e60303;
    color: #000000;
}
.cancel button::after{
   border: none;
}
.add button{
    color: #000000;
    background-color: #FFBE0F;
}
.add button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #6BCB77;
    color: white;
}
.add button::after{
   border: none;
}
.dropdown-content {

    padding: 12px 16px;
    color: #000;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.2);

}
  
.dropdown-content a:hover{
    text-shadow: 2px 2px 4px #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
